.window-post{
    display: flex;
    position: absolute;
    background-color: green;
    top: 30px;
    left: 150px;
    right: 150px;
    bottom: 30px;
  }
  .window-post-overlay{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .image{
    width:75%;
    height:100%;
    background-repeat: no-repeat;  
    background-position: 0% 0%;
    background-size: 100% 100%;
  }
  .btn-like{
    width:200px;
    height:200px;
    display: flex;
  }

  
  