.window-post{
    display: flex;
    position: absolute;
    width:70vw;
    height: 80vh;
    background-color: #f7f7f7; 
    margin: 10vh 10vw; 
  }

  .image{
    width:55%;
    height:100%;
    background-repeat: no-repeat;  
    background-position: 0% 0%;
    background-size: 100% 100%;
  }
  .property{
    width: 45%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 2fr 0.5fr 0.2fr;
  }
  .user{
    display: flex;
    align-items: center;
    gap:10px;
  }
  .content{
    padding: 1px 0;
    max-width: 50ch;
    overflow-y: auto;
    background: transparent;
    }


  .btn-like{
    display: flex;
    width: 50px;
    height: 50px;
  }
  .avatar-user{
    width:50px;
    height:50px;
    background-repeat: no-repeat;  
    background-position: 0% 0%;
    background-size: 100% 100%;
    border-radius: 50%;
  }
  .comment{
    margin-top: 8px;
    overflow-y: auto;
  }
  .editor-comment{
    display: flex;
  }
  
  .editor-comment input{
    flex:1;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
  }

  .editor-comment button{
    border: none;
    outline: none;
    background-color: #f7f7f7;
    cursor: pointer;
  }
 