*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
  }


.app{
    display: flex;
    /* width: 100vw; */
  }
  .sidebar{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #f7f7f7;
    justify-content: space-between;
    flex: 0 0 auto;
    position: sticky;
    top:0;
    left:0;
  }

  .btn-sidebar:hover{
    cursor: pointer;
  }

  .imageWindow{
    display: flex;
    justify-content: center;
    align-items: center;
    width:65%;
    height:100%;
    background-repeat: no-repeat;  
    background-position: 0% 0%;
    background-size: 100% 100%;
  }

