

.app{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}
.sidebar{
  display: grid;
  height: 100vh;
  background-color: red;
}

.page-feed{
  display: flex;
  width: 100vw;
  height:100vh;
  background-color: brown;
  justify-content: center;
  align-items: center;
}

.page-profile{
  background-color: cyan;
  width: 100vw;
  height:100vh;
}
.loginPage{
  display: flex;
  align-items: center;
  justify-content: center;
  width:600px;
  height:400px;
  background-color: purple;
}

.ReactModal__Overlay{
  display: flex;
  justify-content:center;
  align-items: center;
}
.imageWindow{
  display: flex;
  justify-content: center;
  align-items: center;
  width:65%;
  height:100%;
  background-repeat: no-repeat;  
  background-position: 0% 0%;
  background-size: 100% 100%;
}

.typeField{
  height:80%;
  width: 221px;
}

.btn-post{
  margin-left: 50%;
}