 .options{
  font-size: 40px;
  padding: 10px 0px;
}

.blank{
  margin-bottom: 35px;
}

.options :hover{
  cursor: pointer;
  transform: scale(1.05);
  transform-origin: center;
}

.click{
  background-color: aqua;
}

.postEditor{
  display: flex;
  background-color: black;
  width:700px;
  height:450px;
  margin: auto;
  
}

.imageWindow{
  width:100%;
  background-image: url(../src/component/img.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
} 

.file-selector{
  position: absolute;
  background-color: aqua;
}
.none{
  display: none;
}


