.header-profile{
    display: flex;
    width:100vw;
    height:20vh;
    background-color: navy;
  }
  .avatar-region{
    display: flex;
    justify-content: center;
    align-items: center;
    width:25%;
    height:100%;
    background-color: burlywood;
  }
  .userPhoto{
    width:150px;
    height:150px;
    border-radius: 99em;
  }
  .user-info{
    display: block;
    height:100%;
    width:75%;
    background-color: coral;
  }
  .post-and-followers h2{
    display: inline;
    margin: 0px 20px;
  }
  .profileName-and-seting{
    font-size: 45px;
    display: flex;
   }
   .profileName-and-seting img{
    margin-left: 50px;
   }

   .profileName-and-seting img:hover{
    cursor: pointer;
}
  